<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title%}Backend Test{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <script src="/js/loader.js"></script>
</head>
<body>
<header class="header" role="banner">
  <h1 class="logo">
    <a href="/">Web <span>Home</span></a>
  </h1>
  <div class="nav-wrap">
    <nav class="main-nav" role="navigation">
      <ul class="unstyled list-hover-slide">
        <li><a href="/sleep">Sleep</a></li>
        <li><a href="/get">Get</a></li>
        <li><a href="/post">Post</a></li>
        <li><a href="/api">Api</a></li>
        <li><a href="/file_upload">File Upload</a></li>
        <li><a href="/cookie">Cookie</a></li>
        <li><a href="/http_status">HTTP Status Code</a></li>
      </ul>
    </nav>
    <ul class="social-links list-inline unstyled list-hover-slide">
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Google+</a></li>
      <li><a href="#">GitHub</a></li>
      <li><a href="#">CodePen</a></li>
    </ul>
  </div>
</header>

<div class="main_window">
  <h1 class="h1">Backend test</h1>
  <h2 class="h2">Hostname: {{ hostname }}</h2>
  {% block body %}{% endblock %}
</div>
</body>
</html>