{% extends 'AppBundle::base.html.twig' %}

{% block title %}API - {{ parent() }}{% endblock %}

{% block body %}
<script src="/js/api.js"></script>

<h3>API TEST</h3>
<div>
<button id="api_button_click" type="button">Click</button>
<button id="api_button_mouseover" type="button">Mouseover</button>
</div>
{% endblock %}
