{% extends 'AppBundle::base.html.twig' %}

{% block title %}HOME - {{ parent() }}{% endblock %}

{% block body %}
<script src="/js/cookie.js"></script>
<div id="test">Real Server01</div>

{% endblock %}