{% extends 'AppBundle::base.html.twig' %}

{% block title %}GET - {{ parent() }}{% endblock %}

{% block body %}

<h3>GET TEST</h3>
<div>
<form action="get" method="get">
    <input type="text" name="get_value" value="{{ get_value }}"><br/>
    <input type="submit" value="Submit">
</div>
<p>Previous GET: {{ get_value }}</p>
{% endblock %}