{% extends 'AppBundle::base.html.twig' %}

{% block title %}HOME - {{ parent() }}{% endblock %}

{% block body %}

<h3>HTTP Request Header</h3>
<div>
{% for key, value in all_header %}
    <p style="margin: 0 0 4px 16px;">{{ key }} : {{ value }}</p>
{% endfor %}
</div>

{% endblock %}