{% extends 'AppBundle::base.html.twig' %}

{% block title %}HOME - {{ parent() }}{% endblock %}

{% block body %}

<h3>All HTTP Request Headers</h3>
<div>
{% for key, value in all_header %}
    <p>{{ key }} : {{ value }}</p>
{% endfor %}
</div>

{% endblock %}