{% extends 'AppBundle::base.html.twig' %}

{% block title %}POST - {{ parent() }}{% endblock %}

{% block body %}

<h3>POST TEST</h3>
<div>
<form action="post" method="post">
    <input type="text" name="post_value" value="{{ post_value }}"><br/>
    <input type="submit" value="Submit">
</div>
{% endblock %}